div#adcontainer {
position: absolute;
top: 0px;
left: 0px;
display: block;
width: 320px;
height: 50px;
background: #eaeaf1;
overflow: hidden;
color: #929292;
}

div#liftimg{
position: absolute;
left: 0px;
top: 0;
overflow: hidden;
float:left;
}

div#liftimg img{
height: 50px;
width: 82px;
}

div#lifttxt{
margin-top:-10px;
margin-left: 85px;
padding: 3px;
height:75px;
text-shadow: 0 -1px 1px rgba(255, 255, 255, .9);
font: 11px/13px Verdana, Helvetica, Arial, sans-serif;
}

span#lifttag p{
position:fixed;
top: 28px;
left: 90px;
font-size: 8px;
text-shadow: 0 1px 1px rgba(255, 255, 255, .8);
}