div#adcontainer {
position: absolute;
top: 0px;
left: 0px;
display: block;
width: 320px;
height: 75px;
background: #eaeaf1;
overflow: hidden;
color: #929292;
}

div#liftimg{
position: absolute;
left: 0px;
top: 0;
overflow: hidden;
float:left;
}

div#liftimg img{
height: 75px;
width: 125px;
}

div#lifttxt{
margin-top:-10px;
margin-left: 130px;
height:75px;
text-shadow: 0 -1px 1px rgba(255, 255, 255, .9);
font: 12px/14px Verdana, Helvetica, Arial, sans-serif;
}

span#lifttag p{
position:fixed;
top: 45px;
left: 130px;
font-size: 10px;
text-shadow: 0 1px 1px rgba(255, 255, 255, .8);
}