<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ad_Background_Color</key>
	<string>#ffffff</string>
	<key>Ad_Text_Color</key>
	<string>#000000</string>
	<key>Ad_Bottom_Margin_Pad</key>
	<integer>20</integer>
	<key>Ad_Bottom_Margin_Phone</key>
	<integer>0</integer>
	<key>Ad_Border_Height</key>
	<integer>2</integer>
	<key>Ad_Border_Visible</key>
	<false/>
	<key>Ad_Border_Color</key>
	<string>Black</string>
	<key>Ad_Shadow_Visible</key>
	<false/>
	<key>Ad_Text_Shadow_Visible</key>
	<false/>
	<key>Ad_Text_Shadow_Black</key>
	<true/>
</dict>
</plist>
